body {
  font: 100% Helvetica, sans-serif;
  color: #4c4c4a; }

p {
  line-height: 1.25em; }

header.main {
  background: url("../images/class_photo_bw3.png") no-repeat;
  background-size: 100%;
  background-position: bottom;
  background-origin: border-box;
  padding: 10px 30px;
  color: #e9eaf3;
  font-family: "Helvetica Neue", sans-serif; }
  header.main h1 {
    clear: both;
    padding: 375px 0 0 20px;
    margin: 0;
    font-size: 3em; }
  header.main h2 {
    padding: 0 0 75px 20px;
    margin: 0;
    font-weight: normal; }
  header.main nav ul {
    margin: 10px 0;
    padding: 0;
    list-style: none;
    float: right; }
  header.main nav li {
    display: inline-block; }
  header.main nav a {
    color: #e9eaf3;
    display: block;
    padding: 6px 10px 10px;
    margin: 0 6px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold; }

.callout {
  background-color: #343844;
  color: #e9eaf3;
  padding: 30px 50px 50px;
  text-align: center;
  font-size: 1.5em; }

.indiv-profile {
  background-color: #bcc4cf;
  padding: 10px 0 0 0; }
  .indiv-profile .img-box {
    overflow: hidden;
    border-radius: 50%;
    padding: 0;
    margin: 0 auto;
    width: 50%;
    border: 6px solid #e7f0f5; }
    .indiv-profile .img-box img {
      width: 100%; }
  .indiv-profile article {
    padding: 5px 30px;
    text-align: center; }

.student-thumb-imgs {
  clear: both;
  margin: 20px 0; }

.cols-1-of-8 {
  width: 12.5%;
  padding: 0;
  margin: 0;
  float: left; }

.cols-2-of-8 {
  width: 25%;
  padding: 0;
  margin: 0;
  float: left; }

.cols-6-of-8 {
  width: 75%;
  margin: 0;
  padding: 0;
  float: left; }

.full-width {
  width: 100% !important;
  height: auto !important; }

.circular-image img {
  width: 100% !important;
  height: auto !important;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  -ms-border-radius: 150px;
  -o-border-radius: 150px;
  border-radius: 150px; }
