body {
  font: 100% "Helvetica Neue", Helvetica, sans-serif;
  color: #093844; }

header.main {
  background: url("../images/class_photo.jpg") no-repeat center;
  height: 906px; }
  header.main h1 {
    color: pink; }
  header.main ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  header.main li {
    display: inline-block; }
  header.main a {
    color: white;
    display: block;
    padding: 6px 12px;
    text-decoration: none; }
