.clearfix:before,
.clearfix:after {
  display: table;
  content: " "; }

.clearfix:after {
  clear: both; }

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  padding: 0 20px;
  margin: 0 auto; }

.container:before,
.container:after {
  display: table;
  content: " "; }

.container:after {
  clear: both; }

.container:before,
.container:after {
  display: table;
  content: " "; }

.container:after {
  clear: both; }

.row {
  padding: 0;
  margin: 0; }

.row:before,
.row:after {
  display: table;
  content: " "; }

.row:after {
  clear: both; }

.row:before,
.row:after {
  display: table;
  content: " "; }

.row:after {
  clear: both; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important;
  visibility: hidden !important; }

body {
  font: 18px "Helvetica Neue", Helvetica, sans-serif;
  color: #333031;
  margin: 0;
  padding: 527px 0 0 0; }

p {
  line-height: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif; }

h1 {
  color: #575657;
  font-weight: 300;
  font-size: 2em; }

h2 {
  color: #454445;
  margin: 40px 0 10px 0;
  padding: 15px 0 5px;
  border-top: 1px dotted #d5d5d6;
  font-weight: 300; }

h3 {
  color: #575657;
  margin: 5px 0 10px 0;
  font-weight: 400; }

h4 {
  line-height: 1.5em; }

h5 {
  color: #575657;
  line-height: 1.5em;
  font-weight: 400; }

.small {
  font-size: .5em;
  font-weight: normal; }

a {
  text-decoration: none; }

img {
  width: 100%; }

.bold {
  font-weight: 700; }

a.anchor {
  display: block;
  position: relative;
  top: -235px;
  visibility: hidden; }

a.anchor-high {
  top: -590px; }

a.trigger {
  display: block;
  position: relative;
  top: 250px;
  visibility: hidden; }

.ha-header {
  font-size: .9em;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-transition: all 0.75s;
  -moz-transition: all 0.75s;
  transition: all 0.75s;
  background-color: #454445; }
  .ha-header .pic-layer {
    background: url("../images/class_photo_bw3_shorter.png") no-repeat;
    background-size: 100%;
    background-position: middle;
    background-origin: border-box;
    opacity: .3;
    width: 100%;
    height: 527px;
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    overflow: hidden;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: all 0.75s;
    -moz-transition: all 0.75s;
    transition: all 0.75s; }
  .ha-header .text-layer {
    opacity: 1.0;
    font-family: "Lato", sans-serif;
    width: auto;
    height: 527px;
    margin: 0 auto;
    padding: 225px 30px 0;
    letter-spacing: .075em;
    text-transform: uppercase;
    z-index: 50;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: all 0.75s;
    -moz-transition: all 0.75s;
    transition: all 0.75s; }
    .ha-header .text-layer nav ul {
      margin: 0;
      padding: 0;
      list-style: none;
      float: left;
      min-height: 1px; }
    .ha-header .text-layer nav li {
      display: inline-block; }
    .ha-header .text-layer nav a {
      color: #060606;
      margin: 0 10px 10px 0;
      padding: 0;
      display: block;
      border-bottom: 2px solid #060606;
      text-decoration: none;
      font-weight: 900; }
    .ha-header .text-layer h1 {
      color: #060606;
      clear: both;
      margin: 0;
      font-size: 3em;
      text-transform: uppercase;
      font-weight: 900; }
    .ha-header .text-layer .small {
      font-weight: 700; }

.ha-header-small {
  background-color: #060606; }
  .ha-header-small .text-layer {
    padding: 30px !important;
    height: auto !important; }
    .ha-header-small .text-layer h1 {
      color: #575657; }
    .ha-header-small .text-layer nav > ul > li > a {
      color: #575657;
      border-bottom: 2px solid #575657; }
  .ha-header-small .pic-layer {
    opacity: 0 !important; }

.ha-header-large {
  height: 525px; }

.callout p {
  margin: 0;
  padding: 0; }

.selected {
  opacity: .5; }

.intro-text p {
  padding: 0;
  margin: 0 0 1.5em 0; }

.person-profile {
  margin: 0 0 1.5em;
  padding: 1em;
  background-color: #eae9ea; }
  .person-profile article {
    margin: 1em; }
  .person-profile .person-photo {
    margin: 1em 0; }
  .person-profile h3 {
    margin: 0 0 10px 0;
    text-transform: uppercase;
    color: #333031;
    font-weight: 700; }
  .person-profile p {
    margin: 0 0 10px 0;
    font-style: oblique; }
  .person-profile .social-media {
    vertical-align: bottom; }
    .person-profile .social-media a {
      margin: 0;
      padding: 1px; }
    .person-profile .social-media a > img {
      margin: 0;
      padding: 0;
      max-width: 2em;
      min-width: 1em; }

.person-icon {
  margin: 5px 0 !important;
  width: 100%;
  height: auto !important; }

.concepts ul {
  font-size: .8em;
  list-style: none;
  padding: 0 0 0 10px;
  margin: 0;
  border-left: 2px solid #eae9ea; }
.concepts li {
  padding: 3px 0;
  font-weight: normal; }
.concepts h2 {
  padding: 15px 0 10px 0;
  margin-bottom: 0; }
.concepts p {
  padding: 0 0 20px 0;
  margin: 0; }

footer {
  border-top: 1px dotted #d5d5d6;
  font-family: "Lato", sans-serif;
  font-size: .6em;
  width: 100%;
  margin: 45px 0 0 0;
  padding: 0; }
  footer span {
    padding: 0 5px; }
  footer p {
    letter-spacing: .03em;
    color: #454445;
    background-color: #eae9ea;
    text-align: right;
    margin: 5px 0  0 0;
    padding: 15px 10px 20px; }

[class*="cols-"] {
  padding: 0 5px;
  margin: 0;
  min-height: 1px;
  position: relative;
  vertical-align: top;
  float: left; }

.cols-1-of-5 {
  width: 20%; }

.cols-1-of-12 {
  width: 8.33333%; }

.cols-2-of-12 {
  width: 16.66666%; }

.cols-3-of-12 {
  width: 25%; }

.cols-4-of-12 {
  width: 33.33333%; }

.cols-5-of-12 {
  width: 41.66666%; }

.cols-6-of-12 {
  width: 50%; }

.cols-7-of-12 {
  width: 58.33333%; }

.cols-8-of-12 {
  width: 66.66666%; }

.cols-9-of-12 {
  width: 75%; }

.cols-10-of-12 {
  width: 83.33333%; }

.cols-11-of-12 {
  width: 91.66666%; }

.cols-12-of-12 {
  width: 100%; }
